body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(59, 59, 59);

}
img.top-left {
  position: fixed;
  top: -3%;
  left: -3.5%;
  width: 320px;
}
img.top-right {
  position: fixed;
  top: -3%;
  left: 88.5%;
  width: 320px;
}
img.bottom-left {
  position: fixed;
  top: 24%;
  left: 90.5%;
  width: 320px;
}
img.bottom-right {
  position: fixed;
  top: 22.2%;
  left: -9%;
  width: 320px;
}
img.top-left-r1 {
  position: fixed;
  top: -3%;
  left: -3.5%;
  width: 320px;
}
img.top-right-r1 {
  position: fixed;
  top: -3%;
  left: 88.5%;
  width: 320px;
}
img.bottom-left-r1 {
  position: fixed;
  top: 24%;
  left: 90.5%;
  width: 320px;
}
img.bottom-right-r1 {
  position: fixed;
  top: 22.2%;
  left: -9%;
  width: 320px;
  rotate: 90deg;
}
div.back {
  top: 0%;
  height: 100%;
  position: fixed;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://img4.goodfon.com/original/3840x2160/a/f0/tekstura-fon-abstraktnye-industriia-chasy-shesterionka-mekha.jpg);
  filter: blur(7px);
  z-index: -1;
}
.cube {
  width: 10%;
  height: 10%;
  rotate: 40deg;
  background: linear-gradient(to bottom, #E6E595, #A973E6);
  position: absolute;
  margin-top: 50%;
  margin-left: 50%;
}
h1  {
  padding-top: 10px;
  margin-bottom: 8px;
  color: white;
  text-shadow:0px 0px 6px rgb(0, 0, 0);

}
div.centered {
  display: flex;
  justify-content: center;

}
div.detdom {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.DatePicker{
  height: 37px;
  width: 300px;
  margin-left: -100px;
  border-radius: 4px;
}
div.sirota{
  display: inline-block;
  margin: 25px;
  height: 32px;
  width: 200px;
  box-shadow: 0px 0px 1px rgb(255, 255, 255)
}
img.gif {
  display: none;
  width: 35px;
  height: 35px;
  margin: 25px;
}
.father {
  display: flex;
  justify-content: center;
}
.loader {
  padding-top: 20%;
}
.loader-hidden {
  display: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.moscow {
  display: flex;
  justify-content: center
}
button,
input[type="submit"] {
  color: rgb(0, 0, 0);
  font-size: 14px;
  letter-spacing: 1px;
  width: 200px;
  height: 38px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 4px;
  font-family: sans-serif;
  margin: 25px;
  transition-duration: 0.15s;
}

button {
  border-radius: 4px;
  width: 288px;
  height: 38px;
}

input[type="submit"]:hover {
  border-color: rgb(123, 180, 255);
  width: 1000px;
  transition-duration: 0.15s;
  cursor: pointer;
}